<div class="container">
    <h2>Busqueda por titulo</h2>
    <input type="search" placeholder="Ingrese un titulo" class="form-control" name="title" #title="ngModel" [(ngModel)]="obj['title']">
    <br>
    <button class="btn btn-primary" (click)="searchPost(obj['title'])">Buscar</button>
</div>
<br>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let item of posts">
            <div class="card h-100">
                <img src="../../../assets/posts.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{item['title']}}</h5>
                    <p class="card-text">{{item['body']}}</p>
                </div>
                <div class="card-footer">
                    <td><button class="btn btn-danger" (click)="deletePosts(item['id'])">Eliminar</button></td>
                    <td><button class="btn btn-primary">Detalles</button></td>
                </div>
            </div>
        </div>
    </div>
</div>